[cerebrium.deployment]
name = "sesame-csm-streaming"
python_version = "3.12"
docker_base_image_url = "debian:bookworm-slim"
disable_auth = false
include = ['./main.py', './generator.py', './models.py', 'cerebrium.toml', './requirements.txt']
exclude = ['.*', 'test.py', '__pycache__']

[cerebrium.hardware]
cpu = 3.0
memory = 12.0
compute = "AMPERE_A10"

[cerebrium.scaling]
min_replicas = 0
max_replicas = 20
cooldown = 300
replica_concurrency = 1
response_grace_period = 900
scaling_metric = "concurrency_utilization"
scaling_target = 100
scaling_buffer = 0
roll_out_duration_seconds = 0

[cerebrium.dependencies.paths]
pip = "requirements.txt"

[cerebrium.dependencies.apt]
ffmpeg = "latest"
